<html xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Log in with your account</title>
</head>

<body>

<div class="container">
    <form method="POST" th:action="@{/login}" th:object="${userForm}"  class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

        <span th:text="${error}"></span>
        <span th:text="${message}"></span>
    </form>
</div>

</body>
</html>