<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="">
        <div class="panel col-10">
            <h4>Mostrar </h4>
            <p> Ruc: <span th:text="${company.ruc}"></span> </p>
            <p> Nombre: <span th:text="${company.razon_social}"></span> </p>
            <p> Direccion: <span th:text="${company.direccion}"></span> </p>
            <p> Departamento: <span th:text="${company.departamento}"></span> </p>
            <p> Provincia: <span th:text="${company.provincia}"></span> </p>
            <p> Distrito: <span th:text="${company.distrito}"></span> </p>
        </div>
        <div>
            <a href="/" class="btn btn-primary">Nueva Consulta</a>
        </div>
    </div>







</div>
</body>
</html>